body {
    font-family: Arial;
    margin: 0;   
}

/* Navigation bar */
.divNavRow {
    align-items: baseline; /* align text */
    background-image: url('img/bgNavigationBar.jpg');
    background-size: contain;
    border-bottom: 1px solid black; 
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 0 12.5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

#divName {
    color: white;
    font-size: 30px;
    padding: 0 1%;
    text-align: center;
    white-space: nowrap; /* prevent name being wrapped */
    width: 23%;
    justify-content: center;
    display: flex;

}

.divNavCol {   
    color: #7a7a7a;
    font-size: 18px;
    padding: 50px 1%;
    text-align: center;
    width: 14%; 
}

.divNavRow .divNavCol.divHover:hover, .divNavRow .divSelected {
    background: #0f0f0f;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: underline;  
}

.divNavRow .divSelected {
    cursor: auto;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a, .sidebar div {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; 
  }
  
  .sidebar a:hover, .sidebar div:hover {
    color: #f1f1f1;
    text-decoration: underline; 
    cursor: pointer;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 3em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    z-index: 3;
    top: 0;
    margin: 1.4rem 0 0 6%
  }
  
  .openbtn:hover {
    color: #818181;
  }

/* Main Content */
.divMainBody {
    background-color: #f0f0f0;
    height: 700px;
    padding-top: 128px;
    /* left: 0; */
    /* right: 0; */
}

.divMainBody .divContentBody {  
    display: none;
}

/* Footer */
footer {
    justify-content: center;
    height: 100px;
    padding: 0 15%;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    align-content: center;
    background-image: linear-gradient(#121212, #5c5c5c);
    border-top: 1px solid black;
    display: flex;
    display: -webkit-flex;
}

.divIconRow {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto 0 auto;
    height: inherit;
}

.divIconRow div {
    position: relative;
}

.divIconRow .ftrIconText {
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    visibility: hidden;
    /* top: 5px; */
    top: 15px;
    margin: -10px;
}

.divIconRow .ftrIcon {
    border-radius: 24px;
    cursor: pointer;
    height: 50px;
    /* margin: 1.8rem 20px; */
    margin: 2rem 0;
    width: 50px;
}

.divIconRow div:hover .ftrIconText {
    visibility: visible;
}

.divIconRow div:hover .ftrIcon {
    box-shadow: 0 0 15px black;
}

#divCopyRight {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


  