body {
    font-family: Arial;
    margin: 0; 
    
}

h1, h2, h3, h4, h5 {
    color: white;
}

p {
    color: #c9c9c9;
    text-align: justify;
}

li {
    margin: 15px 0;
    color: #c9c9c9;
}

#divBase {
    background-color: #474747;
}

/* Navigation bar */
#divNavRow {
    align-items: baseline; /* align text */
    background-image: url('img/bgNavigationBar.jpg');
    background-size: contain;
    border-bottom: 1px solid black; 
    display: flex;
    display: -webkit-flex;
    font-weight: bold;
    justify-content: center;
    padding: 0 12.5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

#divName {
    color: white;
    font-size: 30px;
    padding: 0 1%;
    text-align: center;
    white-space: nowrap; /* prevent name being wrapped */
    width: 23%;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
}

.divNavCol {   
    color: #7a7a7a;
    font-size: 18px;
    padding: 50px 1%;
    text-align: center;
    width: 14%; 
}

#divNavRow .divNavCol.divHover:hover, #divNavRow .divSelected {
    background: #0f0f0f;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: underline;  
}

#divNavRow .divSelected {
    cursor: auto;
}

#divSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #divSidebar a, #divSidebar div {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; 
  }
  
  #divSidebar a:hover, #divSidebar div:hover {
    color: #f1f1f1;
    text-decoration: underline; 
    cursor: pointer;
  }
  
  #divSidebar a {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 3em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    z-index: 3;
    top: 0;
    margin: 1.4rem 0 0 6%
  }
  
  .openbtn:hover {
    color: #818181;
  }

/* Main Content */
#divMainBody {
    padding-top: 128px;
    margin: 0 auto;
    max-width: 1000px;
}

.divContentBody {  
    display: none;
}

@media screen and (min-width: 1000px) {
    #divMainBody .divContentBody .divContentRow {
        display: flex;
        display: -webkit-flex;
    }
}

.divContentCell {
    width: 100%;
    padding: 15px;
}

.divContentCell span {
    text-align: center;
    color: white;
}

.divContentCell .divLangContainer {
    display: flex;
}

.divContentCell .divLangContainer .divLanguageCell {
    padding: 5px;
    width: 85%;
    height: 160px;
}

table, .divContentBlock {
    margin: 15px auto;
    width: 85%;
    height: 85%;
}

#divPhotoContainer {
    background-image: url('img/profile.svg');
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5em 0.5em 0;
    float: left;
}

#tblCharacteristics {
    height: 40%;
} 

td {
    width: 11%;
    text-align: left;
    color: #c9c9c9;
}

.tblInfo td {
    vertical-align: text-top;
    font-size: 1em;
    color: #a3a3a3;
}

.tblInfo .tdInfoName {
    width: 8%;
    color: #c9c9c9;
}

.tdAttrName {
    width: 45%;
}

.icnThumbUp {
    height: 25px;
    width: 25px;
}

.divLine {
    padding-bottom: 4px;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid grey;
}

.jobImg {
    padding: 0 2em 0.5em;
}

.clearFloat {
    clear: both;
}

/* Footer */
footer {
    justify-content: center;
    height: 100px;
    padding: 0 15%;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    align-content: center;
    background-image: linear-gradient(#121212, #5c5c5c);
    border-top: 1px solid black;
    display: flex;
    display: -webkit-flex;
}

#divIconRow {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    height: inherit;
}

#divIconRow div {
    position: relative;
}

#divIconRow .ftrIconText {
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    visibility: hidden;
    top: 15px;
    margin: -10px;
}

#divIconRow .ftrIcon {
    border-radius: 24px;
    cursor: pointer;
    height: 50px;
    margin: 2rem 0;
    width: 50px;
}

#divIconRow div:hover .ftrIconText {
    visibility: visible;
}

#divIconRow div:hover .ftrIcon {
    box-shadow: 0 0 15px black;
}

#divCopyRight {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}